/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Kanit-ExtraBoldItalic";

  src: url("./fonts/Kanit-ExtraBoldItalic.woff") format("woff"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}